* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
}

.card2 {
    width: 450px;
    height: 700px;
    margin-left: 45rem;
    margin-top: 10rem;
    border-radius: 5px 5px 0 0;
    padding: 10px;
}

header img {
    width: 450px;
    height: 300px;
    border-radius: 5px 5px 0 0;
    margin-left: -10px;
    margin-top: -10px;
}

header h3 {
    position: absolute;
    width: 60px;
    padding: 5px;
    font-size: 12px;
    border-radius: 5px 5px 5px 5px;
    height: 25px;
    background-color: black;
    color: white;
    margin-top: -18rem;
    margin-left: 5px;
    font-weight: normal;
}

h1 {
    margin-top: 15px;
    font-size: 30px;
}

p {
    margin-top: 10px;
    color: rgb(49, 48, 48);
}

h5 {
    margin-top: 5px;
    color: rgb(185, 182, 182);
    font-size: 14px;
}

.star {
    margin-top: 2.5rem;
}

.fa-solid.fa-star {
    color: gold;
    box-shadow: 0px 2px 0px rgb(185, 182, 182);
    padding-bottom: 5px;
}

.fa-regular.fa-star {
    color: rgb(190, 190, 190);
    box-shadow: 0px 2px 0px rgb(185, 182, 182);
    padding-bottom: 5px;
}